<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define PROJECTPATH = "../MySimpleApp"?>
  <?define BUILDPATH = "$(var.PROJECTPATH)/bin/$(var.BUILD)"?>
  <?define VERSION="!(bind.FileVersion.MySimpleApp.exe)"?>

  <Product
    Id="*"
    Name="MySimpleApp"
    Language="1033"
    Version="$(var.VERSION)"
    Manufacturer="Appveyor Systems Inc."
    UpgradeCode="7B14E8C8-502D-4457-AE69-9D23A4AAD947">

    <Package
      Id="*"
      Description="MySimpleApp"
      Manufacturer="Appveyor Systems Inc."
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Feature Id="ProductFeature" Title="MySimpleApp" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!-- UI -->
    <UIRef Id="WixUI_Minimal" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyRootFolder" Name="MySimpleApp">
          <Directory Id="INSTALLFOLDER" Name="MySimpleApp">
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Binaries -->
      <Component Id="ProductFiles" Guid="13221C4A-910E-4121-A9A7-CCFC5253E370">
        <File Id="MySimpleApp.exe" Source="$(var.BUILDPATH)\MySimpleApp.exe" />
      </Component>

    </ComponentGroup>

  </Fragment>
</Wix>